*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}

.full-screen{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.full-screen video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/*h1{*/
/*    font-family: 'century Gothic',sans-serif;*/
/*    color: #f5d9dc;*/
/*    font-size: 400%;*/
/*    text-shadow: 0 0 300px #000;*/
/*}*/


.btn{
    border-radius: 36px;
    color: #f5d9dc;
    text-decoration: none;
    font-family: 'century Gothic', sans-serif;
    border: 12px solid;
    padding: 28px 52px;
    font-weight: bold;
    font-size: 30px;
}

.btn:hover{
    color: #550101;
}